.btn-main {
    border: none;
    font-size: 1rem;
    padding: 1rem 1rem;
    transition: all 0.5s;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
}

.btn--blue {
    background-color: #3E86F5;
    color: white;
}

.btn--blue:hover{
      background-color: #195abb;
}

.btn--white {
    background-color: white;
    color: #3E86F5;
}

.btn--white:hover {
      background-color: #f5ad3e;
      color: white;
}

.btn--big {
    width: 19rem;
}

.btn--medium {
    width: 13rem;
    padding: 1rem 1rem;
}

.btn--small {
    width: 10rem;
}

@media screen and (min-width: 768px){
    .btn--medium {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
}